.advantage-list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage-list__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
  &:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
  }
}

.advantage-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 450px;
  @media screen and (min-width: 480px) {
    max-width: 354 px;
  }
  @media screen and (min-width: 768px) {
    max-width: 270 px;
  }
}
.advantage-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantage-list__description {
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryColor;
  max-width: 450px;
  @media screen and (min-width: 480px) {
    max-width: 354 px;
  }
  @media screen and (min-width: 768px) {
    max-width: 270 px;
  }
}
