.heading {
  text-align: center;
  padding: 118px 0;
  background-color: $secondaryColor;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heading.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 1200px) {
    text-align: center;
    padding: 200px 0;
  }
}
.heading__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: $whiteColor;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
