body {
  color: $basicColor;
  background-color: $whiteColor;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  list-style: none;
}
